<div class="col-class-main">
    <div class="row-header-main">
        {week_number} Ó÷. íåäåëÿ
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day1}<br/>Ïí
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day2}<br/>Âò
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day3}<br/>Ñğ
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day4}<br/>×ò
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day5}<br/>Ïò
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
    <div class="row-day-main">
        <div class="col-day-week">
            {day6}<br/>Ñá
        </div>
        <div class="col-calls">
            <div class="row-calls">
                {begin1}-<br/>{end1}
            </div>
            <div class="row-calls">
                {begin2}-<br/>{end2}
            </div>
            <div class="row-calls">
                {begin3}-<br/>{end3}
            </div>
            <div class="row-calls">
                {begin4}-<br/>{end4}
            </div>
        </div>
    </div>
</div>